@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url("../res/fonts/creteround/ZCcPJiCGOzh84o2siPk48dIh4imgI8P11RFo6YPCPC0.woff") format('woff');
}
